<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
  <link rel="stylesheet" href="../components/main/main.css">
  <title>Project Title</title>
</head>

<body>
  <% include ../partials/nav %>
  
  <h1>Hello World!</h1>
  
  <% include ../partials/footer %>
  <script src="../components/main/main.js" type="module"></script>
</body>
</html>