<form method="post" action="/login">
    <fieldset>
        <legend>Email</legend>
        <input type="email" name="email" placeholder="Your email">
    </fieldset>
    <fieldset>
        <legend>Password</legend>
        <input type="password" name="password" placeholder="Your password">
    </fieldset>
    <button type="submit">Login</button>
</form>